.container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.FilterContainer{
    display: flex;
    justify-content: space-between;
}
.Filter{
    margin: 20px;
}
.Filter span{
    font-size: 30px;
    font-weight: 600;
    margin-right: 20px;
    color: orangered;
}
.select{
    padding: 10px;
    margin-right: 20px;
    border: 1px solid orangered;
}
@media only screen and (max-width: 380px){
    .Filter {
            margin: 20px;
            width: 0px 20px;
            display: flex;
            flex-direction: column;
        }
        .Filter span {
            margin-right: 0px;
        }
        .select {
            margin-right: 10px 0px;
        }
        
}